*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    /* border: 3px solid red ; */
    background:blue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    width: 75%;
}

.container > img{
    height: 200px;
}


.container > input{
    width: 50%;
    height: 2rem;
    background: #ccc;
    border-radius: 5rem;
    color: #fff;
}